# Created by https://www.gitignore.io

### Rails ###

client/log
client/tmp
client/public/system
client/coverage/
client/spec/tmp

server/log
server/tmp
server/public/system
server/coverage/
server/spec/tmp

server/config/database.yml
client/config/database.yml


server/config/environments/development.rb
server/config/environments/production.rb
server/config/environments/test.rb
