<button ng-show="signedIn()" class="button button-raised button-primary button-pill button-small pull-right" ng-click="showForm = 1">Create lot</button>
<br><br><br>
<div class="well" ng-show="showForm">
    <div class="lot-form">    
        <form class="form-horizontal" role="form"  ng-submit="createLot()">
            <div class="row">
                <div class="col-xs-6">
                    Title:
                        <input type="text" ng-model="lot.title" class="form-control" required/>
                </div>
                <div class="col-xs-4">
                    <label>
                        Start price:
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" ng-model="lot.starting_price" min="0" class="form-control currency" required/>
                        </div>
                    </label>
                </div>
                <div class="col-xs-2">
                    <label>
                        Lot type:
                        <select class="form-control" name="auctionType" ng-model="lot.lot_type">
                          <option value="1" selected>Raising</option>
                          <option value="2">Redusing</option>
                        </select>   
                    </label>
                </div>
            </div>
            <h5>Lot description</h5>
            <div class = "form-group" style="padding: 15px">
                <textarea rows="5" class="form-control" ng-model="lot.description" required></textarea>
            </div>
            <br>
                <div>
                    <div class = "row">
                        <div class="col-xs-6">
                            <label for="tradingDuration"> Trading duration: </label>
                            <select class="form-control" name="tradingDuration" ng-model="lot.duration">
                              <option value="3">3 days</option>
                              <option value="5">5 days</option>
                              <option value="7">7 days</option>
                              <option value="10">10 days</option>
                              <option value="14">14 days</option>
                            </select><br>
                        </div>
                        <div class="col-xs-6">
                            <label for="category_id"> Category: </label>
                            <select class="form-control" name="category_id" ng-model="lot.category_id">
                              <option ng-repeat="category in categories" value="category.id">{{category.name}}</option>
                            </select><br>
                        </div>
                    </div>
                </div>
            <button class="btn btn-primary pull-right" type="submit">Create</button>
        </form>
    </div>
</div>


<div ng-repeat="lotItem in lots">
    <lot-panel lot = lotItem></lot-panel>
</div>
