<button ng-show="signedIn()" class="button button-raised button-primary button-pill button-small pull-right" ng-click="showForm = 1">Create community</button>
<ul class="nav nav-tabs">
  <li><a ng-href="/id{{current_user.id}}/communities">My communities</a></li>
  <li><a ng-href="/communities">All</a></li>
</ul>
<div class="well" ng-show="showForm"> 
   <form class="form-horizontal" role="form" ng-submit="createCommunity()">
    <h4>New community</h4>
    <div class="form-group" style="padding:14px;">
      <label>Title</label>
      <input class="form-control" type="text" ng-model="title" required></input>
      <br>
      <label>Aim</label>
      <input class="form-control" type="text" ng-model="aim" required></input>
      <br>
      <label>Description</label>
      <textarea rows=3 class="form-control" type="text" ng-model="description" required></textarea>
    </div>
    <button class="btn btn-primary pull-right" type="submit">Create</button>
    <br><br>
  </form>
</div>
<div ng-repeat="community in communities">
	<community-panel community=community.community.community participants=community.participants></community-panel>
</div>
